<h1>Add a cd:</h1>

<form action="/cds" method="post">


  <label for="artist">cd's artist:</label>
  <input id="artist" name="artist" type="text">

  <label for="album">cd's album:</label>
  <input id="album" name="album" type="text">


  <button type="submit">Add cd</button>
</form>
